@model GreenShopperWebsite.Models.APIModels.Product

@{ 
    var categories = (List<GreenShopperWebsite.Models.APIModels.Category>)ViewData["categories"];
    var impact_categories = (List<GreenShopperWebsite.Models.APIModels.ImpactCategory>)ViewData["impact_categories"];
    var supermarkets = (List<GreenShopperWebsite.Models.APIModels.Supermarket>)ViewData["supermarkets"];
}

<h4>Create new Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Product Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" placeholder="Image URL" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    <option selected disabled>Product Category</option>
                    @foreach (GreenShopperWebsite.Models.APIModels.Category category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpactId" class="control-label">Level of Impact</label>
                <select asp-for="ImpactId" class="form-control">
                    <option selected disabled>Lower the better!</option>
                    @foreach (GreenShopperWebsite.Models.APIModels.ImpactCategory impact_category in impact_categories)
                    {
                        <option value="@impact_category.Id">@impact_category.SeverityLevel</option>
                    }
                </select>
                <span asp-validation-for="ImpactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Supermarket of Product</label>
                <select id="supermarket_input" name="supermarket_input" class="form-control">
                    <option disabled selected>Supermarket</option>
                    @foreach (GreenShopperWebsite.Models.APIModels.Supermarket supermarket in supermarkets)
                    {
                        <option value="@supermarket.Id">@supermarket.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Price</label>
                <input id="price_input" name="price_input" class="form-control" type="number" step="0.01" min="0"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
